// Color Palette 

  $black : #000;
  $primary : #10596b;
  $white : #fff;
  $primaryGrey : #f4f4f4;
  $secondaryGrey : #f1f1f1;
  $orange : #f6c196;
  $green : #8fba3f;
  $red : #ff4d4f;
  $pink: #ffc0cb85;